<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Sign Up Form</title>
        <link rel = "stylesheet" href="css/main.css"/>

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <!-- our script file -->
        <script src="js/app.js"></script>
    </head>
    <body ng-app = "SignUp" ng-controller="FormController">
        <h1>Sign Up</h1>
        <p>Our Service is fun and awesome, but you must be 13 years old to join</p>

        <form name = "signUpForm" ng-submit="submit()" novalidate>

            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email"
                       class="form-control"
                       ng-model="user.email"
                       name="emailInput"
                       id="emailInput"
                       required />
                <p class="validation-error email-required-error"
                   ng-if="signUpForm.emailInput.$dirty &&
                   signUpForm.emailInput.$error.required">
                    An email address is required
                </p>
                <p class="validation-error email-invalid-error"
                   ng-if="signUpForm.emailInput.$dirty &&
                   signUpForm.emailInput.$error.email">
                    The email you provided is invalid
                </p>
            </div>

            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname"
                name="fname" ng-model="user.fname"/>
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname"
                        name="lname" placeholder="Your Last Name" ng-model="user.lname" required/>
                <p class="validation-error"
                    ng-if="signUpForm.lname.$dirty && signUpForm.lname.$error.required">Last Name is required.</p>
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <label for="month">Month:</label>
                <select name="month" id="month" ng-model="user.birthMonth" ng-options="month for month in months" required age-check></select>
                <p class="validation-error" ng-if="signUpForm.month.$error.ageCheck"> Sorry, you must be 13 years old to sign up.</p>
                <p class="validation-error" ng-if="signUpForm.month.$error.required">You must enter your birth month.</p>
                <label for="day">Day:</label>
                <select name="day" id="day" ng-model="user.birthDay" ng-options="day for day in days" required age-check></select>
                <p class="validation-error" ng-if="signUpForm.day.$error.ageCheck"> Sorry, you must be 13 years old to sign up.</p>
                <p class="validation-error" ng-if="signUpForm.day.$error.required">You must enter your birth day.</p>
                <label for="year">Year:</label>
                <select name="year" id="year" ng-model="user.birthYear" ng-options="year for year in years" required age-check></select>
                <p class="validation-error" ng-if="signUpForm.year.$error.ageCheck"> Sorry, you must be 13 years old to sign up.</p>
                <p class="validation-error" ng-if="signUpForm.year.$error.required">You must enter your birth year.</p>
            </div>
            <div class = "form-group">
                <button>Reset</button>
                <button ng-disabled = "signUpForm.$invalid">Submit</button>
            </div>
        </form>
    </body>
</html>