<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title>Sign Up Form</title>
        <link rel = "stylesheet" href="css/main.css"/>

        <!-- angular script file -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
        <!-- our script file -->
        <script src="js/app.js"></script>
    </head>
    <body ng-app = "SignUp" ng-controller="FormController">
        <h1>Sign Up</h1>
        <p>Our Service is fun and awesome, but you must be 13 years old to join</p>

        <form name = "signUpForm" ng-submit="submit()" novalidate>

            <div class="form-group">
                <label for="emailInput">Email</label>
                <input type="email"
                       class="form-control"
                       ng-model="user.email"
                       name="emailInput"
                       id="emailInput"
                       required />
                <p class="validation-error email-required-error"
                   ng-if="signUpForm.emailInput.$dirty &&
                   signUpForm.emailInput.$error.required">
                    An email address is required
                </p>
                <p class="validation-error email-invalid-error"
                   ng-if="signUpForm.emailInput.$dirty &&
                   signUpForm.emailInput.$error.email">
                    The email you provided is invalid
                </p>
            </div>

            <div class="form-group">
                <label for="fname">First Name:</label>
                <input type="text" class="form-control" id="fname"
                name="fname" ng-model="user.fname"/>
            </div>
            <div class="form-group">
                <label for="lname">Last Name:</label>
                <input type="text" class="form-control" id="lname"
                        name="lname" placeholder="Your Last Name" ng-model="user.lname" required/>
                <p class="validation-error"
                    ng-if="signUpForm.lname.$dirty && signUpForm.lname.$error.required">Last Name is required.</p>
            </div>
            <div class="form-group">
                <label for="birthdate">Birthdate:</label>
                <input type="text" name="birthdate" id="birthdate" ng-model="user.birthdate" pattern="\d{1,2}/\d{1,2}/\d{4}" required age-check>
                <p class="validation-error" ng-if="signUpForm.birthdate.$dirty && signUpForm.birthdate.$error.required">
                    Please enter a birthdate
                </p>
                <p class="validation-error bday-invalid-error" ng-if="signUpForm.birthdate.$dirty && signUpForm.birthdate.$error.pattern">
                    Please enter a birthday in the pattern xx/xx/xxxx
                </p>
                <p class="validation-error bday-invalid-error" ng-if="signUpForm.birthdate.$dirty && signUpForm.birthdate.$error.ageCheck">
                    You must be 13 years or older
                </p>
            </div>
            <div class = "form-group">
                <button>Reset</button>
                <button ng-disabled = "signUpForm.$invalid">Submit</button>
            </div>
        </form>
    </body>
</html>